.nav{
    height: 70px;
}

.burger{
    display: none;
}

.burger_item{
    width: 100%;
    height: 60px;
    padding: 15px;
    top: 50px;
    left: -100%;
}

.burger:checked + .burger_item{
    top: 30px;
    left: 0px;
}

.socialmedia{
    display: none;
}

@media screen and (min-width:576px){
    .bars_btn{
        display: none;
    }

    .burger_item{
        top: 0px;
        left: 0px;
    }

    .socialmedia{
        display: inline-block;
        margin: 15px;
    }
}